<?xml version="1.0" encoding="utf-8"?>
<FictionBook xmlns:l="http://www.w3.org/1999/xlink" xmlns="http://www.gribuser.ru/xml/fictionbook/2.0">
  <description>
    <title-info>
      <author><first-name>{{ first_name }}</first-name><last-name>{{ last_name }}</last-name></author>
      <book-title>{{ title }}</book-title>
    </title-info>
  </description>
  <body>
    <section>
      {{ content }}
    </section>
  </body>
</FictionBook>
